@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #ffffff;
    --color-secundary: #959595;
    --color-bg: #141414;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

.bg-primary {
    background-color: var(--color-bg) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.text-secundary {
    color: var(--color-secundary) !important;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.separador{
    margin-top: -2px;
    margin-bottom: 5px;
    width: 50%;
    height: 1px;
    background-color: #363636;
}

.movie-app > .row{
    overflow-x: auto;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    transition: 0.2;
}

.image-container :hover {
    cursor: pointer;
    transform: scale(1.1);
}

.filme-direita{
    margin-left: 10px;
    width: 70%;
}